@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  @apply font-yekan;
}

.i-button {
  @apply relative h-12 w-full px-2 items-center justify-center  font-yekanMedium rounded-md text-base;
}

.i-input {
  @apply w-full h-full text-base border bg-white rounded-md flex items-center outline-none px-4 hover:border-neutral-300 hover:bg-neutral-50 focus:border-2 focus:border-primary-200 placeholder:text-sm;
}

.i-alert {
  @apply w-full max-w-full flex justify-between items-center p-4 mb-4 text-base rounded-md;
}

.i-modal-panel {
  @apply w-full max-w-md relative transform overflow-hidden rounded-md bg-white p-6 pt-8  text-left align-middle shadow-xl transition-all;
}

.i-select-option {
  @apply absolute mt-1 max-h-60 z-10 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

.i-step-item {
  @apply w-5 h-5 relative rounded-full flex items-center before:content-[''] before:absolute  justify-center before:w-1/2 before:h-1/2 before:rounded-full;
}

.i-tooltip {
  @apply absolute  min-w-max px-2 py-1 my-1 bg-gray-700 rounded-md text-center text-white text-sm -translate-x-1/2 left-1/2;
}

.scroll::-webkit-scrollbar {
  width: 4px;
}
.scroll::-webkit-scrollbar-thumb {
  background: #cbd5e0;
}

.i-error-text {
  @apply block w-full text-sm text-red-500 mt-2;
}
